*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #5f5f5f;
   font-family: "Ubuntu", sans-serif;
}
nav{
    background-color: #fff;
    height: 60px;
}

nav > p{
    font-size: 25px;
    padding:15px 50px;
}
.pages{
    float: right;
    list-style: none;
    margin-right: 180px;
    margin-top: -38px;
}

.pages > li{
    float: left;
    margin-left: 70px;
}
.pages > li >a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}